[Unit]
Description=Caelestia Shell
Documentation=https://github.com/ladybug-me/caelestia-kde
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
Environment=CAELESTIA_SHELL_CONFIG=/etc/xdg/quickshell/caelestia/shell.qml
Environment=CAELESTIA_BIN_DIR=/usr/bin
ExecStart=/usr/bin/caelestia-autostart
Restart=on-failure

[Install]
WantedBy=graphical-session.target
